@import "layout/reset.css";
@import "layout/normalize.css";
article > * + * {
  margin-top: 0;
}

html, body {
  height: 100%;
  font-size: 18px;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

h1 {
  font-size: 2.6666666667rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
  color: #fff;
}
.header__logo {
  width: 2.9444444444rem;
  max-height: 2.2222222222rem;
}

.phone-number {
  font-size: 1.3333333333rem;
  display: flex;
  align-items: center;
}
.phone-number__icon {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}
.phone-number:hover {
  text-shadow: 0rem 0rem 0.5555555556rem rgba(0, 0, 0, 0.2);
}

.hamburger {
  width: 1.3333333333rem;
  height: 0.2222222222rem;
  background-color: #fff;
  border-radius: 2px;
  display: block;
  position: relative;
}
.hamburger::before {
  content: "";
  width: 1.3333333333rem;
  height: 0.2222222222rem;
  background-color: #fff;
  border-radius: 2px;
  display: block;
  position: relative;
  position: absolute;
  top: -0.3888888889rem;
}
.hamburger::after {
  content: "";
  width: 1.3333333333rem;
  height: 0.2222222222rem;
  background-color: #fff;
  border-radius: 2px;
  display: block;
  position: relative;
  position: absolute;
  top: 0.3888888889rem;
}

.hero {
  background: url("../img/palm.png") right bottom/contain no-repeat;
  background-color: #86c3d7;
  padding: 1.3333333333rem 0 2.5rem;
  position: relative;
  height: 100vh;
  color: #fff;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: url("../img/chocclate.png") right center/50% auto no-repeat;
}
.hero__title-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero__title {
  line-height: 1.2em;
  margin-bottom: 0.3888888889rem;
}
.hero__subtitle {
  font-size: 1.1666666667rem;
  margin-bottom: 1.7222222222rem;
}
.hero::before {
  content: "";
  background: url("../img/sheet3.png") center center no-repeat;
  display: block;
  width: 3.3333333333rem;
  min-height: 6.1111111111rem;
  position: absolute;
  left: 2%;
  bottom: -2.2222222222rem;
}
.hero::after {
  content: "";
  background: url("../img/berries.png") center center no-repeat;
  display: block;
  width: 25.8333333333rem;
  min-height: 19.1666666667rem;
  position: absolute;
  right: 1%;
  bottom: -2.2222222222rem;
}

.menu__list {
  display: flex;
}
.menu__item {
  margin-right: 1.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.btn {
  display: inline-block;
  padding: 0.9444444444rem 1.9444444444rem;
  border-radius: 3.3333333333rem;
  font-size: 1.0555555556rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1em;
}
.btn_theme_white {
  background-color: #fff;
  color: #365a49;
}
.btn_theme_white:hover {
  color: #fff;
  background-color: #365a49;
}
.btn_theme_green {
  background-color: #365a49;
  color: #fff;
}
.btn_theme_green:hover {
  background-color: #fff;
  color: #365a49;
}
.btn_theme_transparent {
  background-color: transparent;
  color: #365a49;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  text-transform: none;
}
.btn_theme_transparent:hover {
  color: #000;
}

.dignitieslist {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 27.1111111111rem;
  color: #fff;
}
.dignitieslist__icon {
  width: 2.5rem;
  max-height: 2.5rem;
  margin-right: 0.5555555556rem;
}
.dignitieslist__text {
  font-size: 0.8888888889rem;
  width: 4.7222222222rem;
  line-height: 1.2em;
}

.dignitiesitem {
  max-width: 8.3333333333rem;
  display: flex;
  align-items: flex-start;
}

.pagenator {
  position: fixed;
  z-index: 100;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 5;
}
.pagenator__item {
  margin-bottom: 0.2777777778rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
}
.pagenator__item::after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  background-color: #fff;
}
.pagenator__item_active {
  border-color: #fff;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 36.1111111111rem;
  padding: 5.8333333333rem 0;
  position: relative;
  color: #000;
}
.section__why::before {
  content: "";
  display: block;
  background: url("../img/patternsheet.png") center center no-repeat;
  width: 10.5555555556rem;
  min-height: 17.5rem;
  position: absolute;
  left: 0;
  bottom: 7.7777777778rem;
}
.section__why::after {
  content: "";
  display: block;
  background: url("../img/cake.png") bottom left no-repeat;
  width: 8.9444444444rem;
  min-height: 12.5rem;
  position: absolute;
  left: 0;
  bottom: -5.8333333333rem;
}
.section__reviews::before {
  content: "";
  display: block;
  background: url("../img/strawberry.png") center center no-repeat;
  width: 8.3333333333rem;
  min-height: 4.7222222222rem;
  position: absolute;
  top: 2.2222222222rem;
  right: 0.6666666667rem;
}
.section__reviews::after {
  content: "";
  display: block;
  background: url("../img/berries2.png") 0 3rem no-repeat, url("../img/patternsheet2.png") left top no-repeat;
  width: 7.7777777778rem;
  min-height: 15.8333333333rem;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  transform: translateY(50%);
}
.section__orders::before {
  content: "";
  display: block;
  background: url("../img/sheet6.png") left top no-repeat;
  width: 7.6666666667rem;
  min-height: 10.5555555556rem;
  position: absolute;
  bottom: 4.7222222222rem;
  right: 0;
}
.section__orders::after {
  content: "";
  display: block;
  background: url("../img/blueberries2.png") left top no-repeat;
  width: 2.6111111111rem;
  min-height: 2.7777777778rem;
  position: absolute;
  left: 1.1111111111rem;
  bottom: 4.7222222222rem;
}
.section__title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
.section__orders {
  background: url("../img/berriesBG.jpg") center top/cover;
}
.section_font-color_green {
  color: #365a49;
}
.section_font-color_green .section__title {
  color: inherit;
}

.headline {
  margin-bottom: 2.7777777778rem;
  text-align: center;
}
.headline__title {
  margin-bottom: 7px;
}
.headline__subtitle {
  padding: 0 26%;
  margin: 0 auto;
  line-height: 1.3em;
}

.benefits {
  display: flex;
  justify-content: space-between;
}
.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item::after {
  content: url("../img/ellipse.png");
  position: absolute;
  right: 0;
  top: 3.5rem;
  transform: translate(50%, -50%);
  width: 3.7222222222rem;
  min-height: 1.1666666667rem;
  max-height: 1.3888888889rem;
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::after {
  display: none;
}

.benefit {
  text-align: center;
}
.benefit__image-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f2f5f4;
  margin-bottom: 1.6666666667rem;
}
.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
}

.reviews__swither {
  display: flex;
  justify-content: center;
}
.reviews__swither-item {
  margin-right: 0.2777777778rem;
  border: 0.3333333333rem solid transparent;
}
.reviews__swither-item:last-child {
  margin-right: 0;
}
.reviews__swither-item_active {
  border-color: #365a49;
}
.reviews__swither-item-img {
  object-fit: cover;
}

.review {
  background-color: #f8faf9;
  padding: 2.7777777778rem 2.4444444444rem 2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto 1.1111111111rem;
  color: #000;
}
.review::before {
  content: "";
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -70%);
}
.review__content {
  flex: 1;
}
.review__photo {
  width: 14.0555555556rem;
  max-height: 14.4444444444rem;
  overflow: hidden;
  margin-right: 1.1111111111rem;
}
.review__photo-img {
  object-fit: cover;
  object-position: center -2.7777777778rem;
}
.review__title {
  font-size: 1.6666666667rem;
  font-weight: 700;
  margin-bottom: 1.3888888889rem;
}
.review__text {
  width: 24.7222222222rem;
}
.review__text > p {
  color: #666;
  margin-bottom: 1.6666666667rem;
}
.review__author {
  font-weight: 700;
  font-size: 18px;
}
.review__decor {
  width: 7.2222222222rem;
  max-height: 8.8888888889rem;
  position: absolute;
  right: 0;
  top: 0;
}

.interactive-avatar {
  width: 4.3888888889rem;
  height: 4.3888888889rem;
  border-radius: 50%;
  overflow: hidden;
}

.form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form__column {
  flex: 1;
  margin: 0 1.1111111111rem 2.4444444444rem 0;
}
.form__column:last-child {
  margin-right: 0;
}
.form__string {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8333333333rem;
}
.form__string:last-child {
  margin-bottom: 0;
}
.form__string_mb_big {
  margin-bottom: 1.2222222222rem;
}
.form__label {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__label:last-child {
  margin-right: 0;
}
.form__label_size_half {
  width: 12.2222222222rem;
}
.form__label_size_quarter {
  width: 5.5555555556rem;
}
.form__label_size_auto {
  width: auto;
  margin-right: 1.2222222222rem;
}
.form__label_size_auto:last-child {
  margin-right: 0;
}
.form__controls {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 0.2222222222rem;
}
.form__controls:last-child {
  margin-bottom: 0;
}
.form__controls-label {
  display: flex;
  align-items: center;
  flex: none;
  margin-bottom: 0.3888888889rem;
}
.form__input {
  width: 100%;
  padding: 1rem 0.6111111111rem;
  border: 3px solid transparent;
}
.form__input:focus {
  border: 3px solid #dee2bd;
  outline: none;
}
.form__inputname {
  font-size: 18px;
  margin-bottom: 0.2777777778rem;
}
.form__inputname_mb_none {
  margin-bottom: 0;
}
.form__inputname:hover {
  cursor: pointer;
}
.form__textarea {
  height: 10rem;
  resize: none;
  padding: 0.6111111111rem;
  border: 3px solid transparent;
}
.form__textarea:focus {
  border: 3px solid #dee2bd;
  outline: none;
}
.form__radio, .form__check {
  display: none;
}
.form__radio-picture, .form__check-picture {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  background-color: #fff;
  margin-right: 0.5555555556rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__radio-picture:hover, .form__check-picture:hover {
  cursor: pointer;
}
.form__radio-picture {
  border-radius: 50%;
}
.form__radio-picture::after {
  content: "";
  display: none;
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  border-radius: 50%;
  background-color: #365a49;
}
.form__radio:checked ~ .form__radio-picture::after {
  display: block;
}
.form__check-picture::after {
  content: "";
  display: none;
  background: url("../img/icons/checkmark.svg") center center no-repeat;
  width: 0.6111111111rem;
  height: 0.5rem;
}
.form__check:checked ~ .form__check-picture::after {
  display: block;
}
.form__buttons {
  width: calc(50% - 0.875rem);
  margin-left: auto;
}
.form__button {
  border: 0;
  transition: all 0.3s ease;
  margin-right: 1.3333333333rem;
}
.form__button:last-child {
  margin-right: 0;
}
.form__button:hover {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .container {
    width: 40rem;
  }

  .menu {
    display: none;
  }

  .phone-number {
    display: none;
  }

  .hero {
    background: url(../img/palm.png) right top/65% auto no-repeat;
    background-color: #86c3d7;
    padding-bottom: 18vh;
  }
  .hero__container {
    background: url(../img/chocclate.png) center top 30%/auto 50% no-repeat;
    z-index: 2;
  }
  .hero__title-section {
    width: 100%;
    align-items: center;
  }
  .hero__title {
    text-align: center;
  }
  .hero__subtitle {
    text-align: center;
    width: 19.1666666667rem;
  }
  .hero::before {
    display: none;
  }
  .hero::after {
    background: url(../img/berries768.png) left 54% top 39%/auto 25% no-repeat;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
  }

  .benefits__item::after {
    display: none;
  }

  .section__why::before {
    bottom: auto;
    top: 90px;
  }
  .section__orders::after, .section__orders::before {
    display: none;
  }

  .review {
    flex-direction: column;
  }
  .review__photo {
    width: 7.3333333333rem;
    height: 7.3333333333rem;
    margin-bottom: 1.9444444444rem;
    margin-right: 0;
  }
  .review__content {
    text-align: center;
  }
  .review__title {
    margin-bottom: 0.8333333333rem;
  }
  .review__text {
    width: 100%;
  }
  .review__text > p {
    margin-bottom: 0.8333333333rem;
  }

  .form {
    flex-direction: column;
  }
  .form__column {
    margin-bottom: 0.8333333333rem;
  }
  .form__input {
    padding: 0.5555555556rem 0.5555555556rem;
  }
  .form__textarea {
    height: 80px;
  }
  .form__buttons {
    margin: 0 auto;
  }

  .dignitieslist {
    display: none;
  }

  .pagenator {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 25.5555555556rem;
  }

  .hero {
    padding-bottom: 12.5vh;
    background: url(../img/palm.png) right top 18%/65% auto no-repeat;
    background-color: #86c3d7;
  }
  .hero__container {
    background: url(../img/chocclate.png) center top 22%/auto 50% no-repeat;
  }
  .hero__title {
    font-size: 2.2222222222rem;
    line-height: 1em;
  }
  .hero__subtitle {
    font-size: 18px;
  }
  .hero::after {
    background: url(../img/berries768.png) left 54% top 33%/auto 30% no-repeat;
  }

  .benefits {
    flex-direction: column;
  }
  .benefits__item {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 40px;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }

  .benefit {
    text-align: start;
  }
  .benefit__image-wrapper {
    margin: 0 0.8333333333rem 0 0;
  }

  .headline__subtitle {
    padding: 0;
    font-size: 18px;
  }

  .section__title {
    font-size: 2.2222222222rem;
    margin-bottom: 2.3888888889rem;
  }
  .section__why::before, .section__why::after {
    display: none;
  }
  .section__reviews::before {
    top: 0;
    right: -1.3888888889rem;
  }
  .section__reviews::after {
    left: -30px;
  }

  .review__photo {
    width: 6.6666666667rem;
    height: 6.6666666667rem;
  }

  .interactive-avatar {
    width: 3.5555555556rem;
    height: 3.5555555556rem;
  }

  .form__input {
    padding: 0.4444444444rem 0.4444444444rem;
  }
  .form__controls {
    justify-content: center;
  }
  .form__buttons {
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 16.6666666667rem;
  }

  .hero__container {
    background: url(../img/chocclate.png) center top 22%/100% auto no-repeat;
  }
  .hero__subtitle {
    width: 100%;
  }
  .hero::after {
    background: url(../img/berries768.png) left 54% top 33%/90% auto no-repeat;
  }
}
/*# sourceMappingURL=main.css.map */