$container-width: 940px;
$base-font-size: 18px;
$radio-and-check-size: 25px;
$benefits-icon-width: 126px;

// z-index

$z-pagenator: 100;

// colors

$blue: #86c3d7;
$darkGreen: #365a49;
$gray: #f2f5f4;

// imports

@import "layout/reset.css";
@import "layout/normalize.css";
@import "layout/base";

@import "blocks/header";
@import "blocks/hero";
@import "blocks/menu";
@import "blocks/btn";
@import "blocks/dignitieslist";
@import "blocks/pagenator";
@import "blocks/section";
@import "blocks/benefits";
@import "blocks/reviews";
@import "blocks/interactive-avatar";
@import "blocks/form";