$containerWidth: 940px;
$baseFontSize: 18px;

// colors

$blue: #86c3d7;
$darkGreen: #365a49;

// imports

@import "../css/layout/reset.css";
@import "../css/layout/normalize.css";
@import "../css/layout/base.css";

@import "blocks/header.scss";
@import "blocks/hero.scss";
@import "blocks/menu.scss";
@import "blocks/contacts.scss";
@import "blocks/btn.scss";
@import "blocks/dignitieslist.scss";
@import "blocks/pagenator.scss";
@import "blocks/why.scss";
@import "blocks/section.scss";
@import "blocks/reviews.scss";
@import "blocks/review.scss";
@import "blocks/personlist.scss";
@import "blocks/orders.scss";
@import "blocks/form.scss";