// functions

@function rem($px){
    @return $px / $base-font-size + 0rem;
}

// perem

$container-width: 940px;
$base-font-size: 18px;
$radio-and-check-size: rem(22px);
$benefits-icon-width: rem(126px);

// breackpoints

$tablets: 768px;
$phones: 480px;

// z-index

$z-pagenator: 100;
$z-container: 5;
$z-after: 2;
$z-review: 1;

// colors

$blue: #86c3d7;
$darkGreen: #365a49;
$gray: #f2f5f4;

// imports

@import "media/media";

@import "layout/reset.css";
@import "layout/normalize.css";
@import "layout/base";

@import "blocks/header";
@import "blocks/phone";
@import "blocks/hamburger";
@import "blocks/hero";
@import "blocks/menu";
@import "blocks/btn";
@import "blocks/dignitieslist";
@import "blocks/pagenator";
@import "blocks/section";
@import "blocks/slider";
@import "blocks/benefits";
@import "blocks/reviews";
@import "blocks/interactive-avatar";
@import "blocks/form";
@import "blocks/map";
@import "blocks/footer";
@import "blocks/socials";
@import "blocks/overlay";