.btn {
    display: inline-block;
    padding: rem(20px) rem(36px);
    border-radius: rem(60px);
    font-size: rem(19px);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1em;
    border: 0;
    transition: all .3s ease;

    &_theme_white {
        background-color: #fff;
        color: $darkGreen;

        &:hover {
            color: #fff;
            background-color: $darkGreen;
        }
    }

    &_theme_green {
        background-color: $darkGreen;
        color: #fff;

        &:hover {
            background-color: #fff;
            color: $darkGreen;
        }
    }

    &_theme_transparent {
        background-color: transparent;
        color: $darkGreen;
        font-size: rem($base-font-size);
        font-weight: 400;
        padding: 0;
        text-transform: none;

        &:hover {
            color: #000;
        }
    }
    
    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}