.overlay {
    background-color: #fff;
    padding: rem(35px) rem(25px);
    display: none;
    text-align: center;
}

.overlay__text {
    font-size: rem($base-font-size);
    color: #000;
    margin-bottom: rem(20px);
}

.error-message .overlay__text {
    color: red;
}

.app-supmit-btn:hover {
    cursor: pointer;
    background-color: #2e4e3f;
    color: #fff;
}

.fancybox-active {
    height: 100%;
}