.reviews__swither {
    display: flex;
    justify-content: center;
}

.reviews__swither-item {
    margin-right: rem(6px);
    border: rem(6px) solid transparent;

    &:last-child {
        margin-right: 0;
    }

    &_active {
        border-color: $darkGreen;
    }

    &:hover {
        border-color: $darkGreen;
    }
}

.reviews__swither-item-img {
    object-fit: cover;
}

.review__list {
    width: 100%;
    min-height: rem(345px);
    background-color: #f8faf9;
    overflow: hidden;
    margin: 0 auto rem(20px);
    position: relative;

    &::before {
        content: "";
        width: rem(90px);
        height: rem(90px);
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -70%);
    }

    &::after {
        content: '';
        display: block;
        background: url('./img/raspberrypencil.png');
        width: rem(130px);
        max-height: rem(160px);
        position: absolute;
        right: 0;
        top: 0;
    
        @include phones {
            width: 25%;
        }
    }
}

.review {
    display: flex;
    color: #000;

    @include tablets {
        align-items: center;
        padding: rem(62px) rem(12px) rem(32px);
        flex-direction: column;
        text-align: center;
        margin-bottom: rem(30px);
    }
}

.review__item {
    padding: rem(50px) rem(44px) rem(36px);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s;
}

.review__item_active {
    position: static;
    opacity: 1;
}

.review__content {
    position: relative;
    z-index: $z-section;
    flex: 1;

    @include tablets {
        width: 100%;
    }
}

.review__photo {
    width: rem(252px);
    height: rem(260px);
    overflow: hidden;
    margin-right: rem(20px);

    @include tablets {
        width: rem(140px);
        height: rem(140px);
        margin: 0 0 rem(28px);
    }
}

.review__photo-img {
    object-fit: cover;
    object-position: center center;
}

.review-img {
    object-fit: cover;
    object-position: center rem(-50px);
}

.review__title {
    font-size: rem(30px); 
    font-weight: 700;
    margin-bottom: rem(25px);

    @include tablets {
        margin-bottom: rem(15px);
    }
}

.review__text {
    width: 75%;
    color: #666;
    margin-bottom: rem(30px);

    @include tablets {
        margin-bottom: rem(20px);
        width: 100%;
    }
}

.review__author {
    font-weight: 700;
    font-size: rem(18px);
}
