.benefits {
    display: flex;
    justify-content: space-between;
    
    @include phones {
        flex-direction: column;
    }

    &__item {
        flex: 1;
        padding: 0 3%;
        position: relative;

        @include tablets {
            padding: 0;
            margin-bottom: rem(30px);
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: $benefits-icon-width / 2;
            transform: translate(50%, -50%);

            @media screen and (min-width: $tablets) {
                content: url("../img/ellipse.png");
            }
        }

        &:first-child {
            padding-left: 0;
        }
        
        &:last-child {
            padding-right: 0;

            &::after {
                display: none;
            }
        }
    }
}

.benefit {
    text-align: center;

    @include phones {
        display: flex;
        align-items: center;
        text-align: left;
    }

    &__image {

        &-wrapper {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: $benefits-icon-width;
            height: $benefits-icon-width;
            border-radius: 50%;
            overflow: hidden;
            background-color: $gray;
            margin-bottom: rem(30px);
    
            @include phones {
                margin: 0;
            }
        }

        @include phones {
            margin-right: rem(20px);
        }
    }

    &__icon {
        width: rem(74px);
        height: rem(68px);

        &_color_dark {
            fill: #2e2e2d;
        }
    } 
}