.benefits {
    display: flex;
    justify-content: space-between;

    &__item {
        flex: 1;
        padding: 0 3%;
        position: relative;

        &::after {
            content: url("../img/ellipse.png");
            position: absolute;
            right: 0;
            top: $benefits-icon-width / 2;
            transform: translate(50%, -50%);
            width: rem(67px);
            min-height: rem(21px);
            max-height: rem(25px);
        }

        &:first-child {
            padding-left: 0;
        }
        
        &:last-child {
            padding-right: 0;

            &::after {
                display: none;
            }
        }
    }
}

.benefit {
    text-align: center;

    &__image-wrapper {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: $benefits-icon-width;
        height: $benefits-icon-width;
        border-radius: 50%;
        overflow: hidden;
        background-color: $gray;
        margin-bottom: rem(30px);
    }

    &__icon {
        width: rem(75px);
        height: rem(69px);
    } 
}