.dignitieslist {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: rem(488px);
    color: #fff;

    @include tablets {
        display: none;
    }

    &__icon {
        width: rem(47px);
        max-height: rem(44px);
        margin-right: rem(10px);

        &_color_light {
            fill: #c6f7ff;
        }
    }

    &__text {
        font-size: rem(16px);
        width: rem(84px);
        line-height: 1.2em;
    }
}

.dignitiesitem {
    max-width: rem(150px);
    display: flex;
    align-items: flex-start;
}