.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    color: #fff;

.header__logo {
        width: rem(52px);
        max-height: rem(40px);
        flex-shrink: 0;
    }   
    
.header__phone-number.phone-number {
        flex-shrink: 0;
        @include tablets {
            display: none;
        }
    }

    @include tablets {
        align-items: center;
    }
}