.hero {
    background: url("../img/palm.png") right bottom / contain no-repeat;
    background-color: $blue;
    padding: rem(24px) 0 rem(45px);
    position: relative;
    height: 100vh;
    color: #fff;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        background: url("../img/chocclate.png") right center / 50% auto no-repeat;
    }

    &__title-section {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        line-height: 1.2em;
        margin-bottom: rem(7px);
    }

    &__subtitle {
        font-size: rem(21px);
        margin-bottom: rem(31px);
    }

    &::before {
        content: "";
        background: url("../img/sheet3.png") center center no-repeat;
        display: block;
        width: rem(60px);
        min-height: rem(110px);
        position: absolute;
        left: 2%;
        bottom: rem(-40px);
    }

    &::after {
        content: "";
        background: url("../img/berries.png") center center no-repeat;
        display: block;
        width: rem(465px);
        min-height: rem(345px);
        position: absolute;
        right: 1%;
        bottom: rem(-40px);
    }
}
