.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media screen and (min-width: $tablets+1) {
        background: url("../img/chocclate.png") right center / 50% auto no-repeat;
    }
}

.hero__title-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include tablets {
        width: 100%;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;

        &::before {
            content: "";
            width: rem(280px);
            height: rem(280px);
            background: url("../img/berries768.png") center center / contain no-repeat;
            margin-bottom: 5px;
        }
    }
}

.hero__title {
    line-height: 1.2em;
    margin-bottom: rem(7px);

    @include tablets {
        line-height: 1.3em;
    }

    @include phones {
        line-height: 1;
    }
}

.hero__subtitle {
    font-size: rem(21px);
    margin-bottom: rem(26px);

    @include tablets {
        padding: 0 25%;
    }

    @include phones {
        padding: 0 6%;
    }
}