.menu-accordion__title {
    text-align: left;
    margin-bottom: 0;
    position: absolute;
    top: rem(100px);
    left: rem(79px);
    color: #fff;

    @include phones {
        top: rem(80px);
        left: rem(60px); 
    }
}

.menu-accordion__list {
    z-index: $z-section;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 0;

    @include phones {
        width: 100%;
    }
}

.menu-accordion__item {
    display: flex;
    position: relative;
    height: 100%;
}

@keyframes contentPhones {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

.menu-accordion__item_phones_active {
    position: absolute;
    left: 0;
    top: 0;
    
    & .menu-accordion__content {
        animation: contentPhones 1s forwards;
    }
}

.menu-accordion__btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: rem(100px);
    height: 100%;
    background-position: bottom left -125px;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        @include darkening;
        background-color: rgba(0, 0, 0, 0.6);
    }

    &_fake {
        position: absolute;
        right: 0;
        top: 0;

        @include phones {
            display: none;
        }
    }

    @include phones {
        width: rem(80px);
    }
}

.menu-accordion__btn-title {
    transform: rotate(-90deg) translateX(50%);
    white-space: nowrap;
    font-size: rem(48px);
    font-weight: 700;

    @include phones {
        font-size: rem(36px);
    }
}

.menu-accordion__btn, .menu-accordion__close-content {
    padding: 0;
    color: #fff;
    background-color: transparent;
    border: 0;

    &:hover {
        cursor: pointer;
    }
}

.menu-accordion__content {
    width: 0;
    overflow: hidden;
    position: relative;
    background-color: rgba(51, 53, 55, .93);
    transition: all .3s;
    z-index: $z-container;
}

.menu-accordion__item.active .menu-accordion__content {
    width: 45vmax;

    @include tablets {
        width: calc(100vw - 16.666rem);
    }

    @include phones {
        width: 100%;
    }
}

.menu-accordion__close-content {
    position: absolute;
    top: rem(26px);
    right: rem(32px);

    &:focus {
        outline: none;
    }

    @include tablets {
        right: rem(30px);
    }
}

.menu-accordion__text {
    min-width: 45vmax;
    height: 100%;
    padding: rem(50px) rem(127px) rem(50px) rem(27px);
    color: #fff;
    overflow-y: auto;
    font-size: 16px;
    line-height: 1.5;

    @include tablets {
        min-width: rem(450px);
    }

    // @include phones {
    //     min-width: rem(270px);
    // }
}

.menu-accordion__close {
    width: rem(18px);
    height: rem(18px);
    fill: #fff;
}
