.orders {
    padding: 85px 0 92px;
    position: relative;
    background: url("../img/berriesBG.jpg") center top / cover;

    &__sheet {
        width: 138px;
        max-height: 190px;
        position: absolute;
        bottom: 85px;
        right: 0;
    }

    &__blueberries {
        width: 47px;
        max-width: 50px;
        position: absolute;
        left: 20px;
        bottom: 85px;
    }
}