.pagenator {
    position: fixed;
    z-index: $z-pagenator;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 5;

    &__item {
        margin-bottom: rem(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(16px);
        height: rem(16px);
        border-radius: 50%;
        border: rem(1px) solid transparent;

        &::after {
            content: '';
            display: block;
            border-radius: 50%;
            width: rem(6px);
            height: rem(6px);
            background-color: #fff;
        }

        &_active {
            border-color: #fff;
        }
    }
}