.pagenator {
    position: fixed;
    z-index: $z-pagenator;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;

    @include tablets {
        display: none;
    }
}

.pagenator_bg_dark {
    & .pagenator__item_active {
        border-color: #000;
    }
    & .pagenator__link::after {
        background-color: #000;
    }
}

.pagenator__item {
    margin-bottom: rem(5px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    width: rem(16px);
    height: rem(16px);
    display: flex;
    justify-content: center;

    &_active {
        border-color: #fff;
    }
}

.pagenator__link {
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: '';
        display: block;
        border-radius: 50%;
        width: rem(6px);
        height: rem(6px);
        background-color: #fff;
    }
}