.reviews {
    &__swither {
        display: flex;
        justify-content: center;

        &-item {
            margin-right: 5px;
            border: 6px solid transparent;

            &:last-child {
                margin-right: 0;
            }
        
            &_active {
                border-color: $darkGreen;
            }

            &-img {
                object-fit: cover;
            }
        }
    }
}

.review {
    background-color: #f8faf9;
    padding: 50px 44px 36px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto 20px;
    color: #000;

    &::before {
        content: "";
        width: 90px;
        height: 90px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -70%);
    }

    &__content {
        flex: 1;
    }

    &__photo {
        width: 253px;
        max-height: 260px;
        overflow: hidden;
        margin-right: 20px;

        &-img {
            object-fit: cover;
            object-position: center -50px;
        }
    }

    &__title {
        font-size: 30px; 
        font-weight: 700;
        margin-bottom: 25px;
    }

    &__text {
        width: 445px;

        & > p {
            color: #666;
            font-size: 17.98px;
            margin-bottom: 30px;
        }
    }

    &__author {
        font-weight: 700;
        font-size: $base-font-size;
    }

    &__decor {
        width: 130px;
        max-height: 160px;
        position: absolute;
        right: 0;
        top: 0;
    }
}