.reviews {
    &__swither {
        display: flex;
        justify-content: center;

        &-item {
            margin-right: rem(6px);
            border: rem(6px) solid transparent;

            &:last-child {
                margin-right: 0;
            }
        
            &_active {
                border-color: $darkGreen;
            }

            &-img {
                object-fit: cover;
            }
        }
    }
}

.review {
    background-color: #f8faf9;
    padding: rem(50px) rem(44px) rem(36px);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto rem(20px);
    color: #000;

    @include tablets {
        padding: rem(62px) rem(12px) rem(32px);
        flex-direction: column;
        text-align: center;
        margin-bottom: rem(30px);
    }

    &::before {
        content: "";
        width: rem(90px);
        height: rem(90px);
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -70%);
    }

    &__content {
        position: relative;
        z-index: $z-review;
        flex: 1;

        @include tablets {
            width: 100%;
        }
    }

    &__photo {
        width: rem(252px);
        max-height: rem(260px);
        overflow: hidden;
        margin-right: rem(20px);

        &-img {
            object-fit: cover;
            object-position: center rem(-50px);
        }

        @include tablets {
            width: rem(140px);
            height: rem(140px);
            margin: 0 0 28px;
        }
    }

    &__title {
        font-size: rem(30px); 
        font-weight: 700;
        margin-bottom: rem(25px);

        @include tablets {
            margin-bottom: rem(15px);
        }
    }

    &__text {
        width: 75%;
        color: #666;
        margin-bottom: rem(30px);

        @include tablets {
            margin-bottom: rem(20px);
            width: 100%;
        }
    }

    &__author {
        font-weight: 700;
        font-size: $base-font-size;
    }

    &__decor {
        width: rem(130px);
        max-height: rem(160px);
        position: absolute;
        right: 0;
        top: 0;

        @include phones {
            width: 25%;
        }
    }
}