.review {
  background-color: #f8faf9;
  padding: 50px 44px 36px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto 20px;
}
.review::before {
  content: "";
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -70%);
}
.review__photo {
  width: 253px;
  max-height: 260px;
  overflow: hidden;
  margin-right: 20px;
}
.review__photo-img {
  object-fit: cover;
  object-position: center -50px;
}
.review__text {
  width: 445px;
}
.review__text > h4 {
  font-size: 29.96px;
  font-weight: 700;
  margin-bottom: 25px;
}
.review__text > p {
  color: #666;
  font-size: 17.98px;
  margin-bottom: 30px;
}
.review__text > div {
  font-weight: 700;
  font-size: 17.98px;
}
.review__decor {
  width: 130px;
  max-height: 160px;
  position: absolute;
  right: 0;
  top: 0;
}