.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: rem(650px);
    padding: rem(105px) 0;
    position: relative;
    color: #000;

    &__title {
        font-size: rem(48px);
        font-weight: 700;
        margin-bottom: rem(60px);
        text-align: center;
        text-transform: uppercase;
        color: #000;
    }

    &__why {
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 238px;

            @include tablets {
                top: 88px;
            }

            @media screen and (min-width: $phones) {
                content: url("../img/patternsheet.png");
            }
        }
    
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -105px;

            @media screen and (min-width: $phones) {
                content: url("../img/cake.png");
            }
        }
    }

    &__reviews {
        &::before {
            content: url("../img/strawberry.png");
            position: absolute;
            top: 40px;
            right: 12px;

            @include tablets {
                top: 0;
                right: -38px;
            }
        }
    
        &::after {
            content: "";
            display: block;
            background: url("../img/berries2.png") 0 rem(54px) no-repeat, url("../img/patternsheet2.png") left top no-repeat;
            width: rem(156px);
            min-height: rem(318px);
            position: absolute;
            z-index: $z-after;
            bottom: 0;
            left: 0;
            transform: translateY(50%);

            @include tablets {
                background: url("../img/berries2.png") 0 rem(54px) / contain no-repeat, url("../img/patternsheet2.png") left top / contain no-repeat;
                width: 20%;
            }

            @include phones {
                bottom: -5%;
            }
        }
    }

    &__orders {
        &::before {
            content: "";
            position: absolute;
            bottom: 85px;
            right: 0;

            @media screen and (min-width: $tablets) {
                content: url("../img/sheet6.png");
            }
        }
    
        &::after {
            content: "";
            position: absolute;
            left: 20px;
            bottom: 85px;

            @media screen and (min-width: $tablets) {
                content: url("../img/blueberries2.png");
            }
        }
        
        &-title {
            margin-bottom: 30px;
        }
    }

    &__contacts {
        padding: 0;
    }

    &__orders {
        background: url("../img/berriesBG.jpg") center top / cover;
    }

    &_font-color_green {
        color: $darkGreen;

        .section__title {
            color: inherit;
        }
    }
}

.headline {
    margin-bottom: rem(50px);
    text-align: center;

    &__title {
        margin-bottom: 7px;
    }

    &__subtitle {
        padding: 0 26%;
        margin: 0 auto;
        line-height: 1.3em;

        @include tablets {
            padding: 0 20%;
        }

        @include phones {
            padding: 0 5%;
        }
    }
}