.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: rem(650px);
    padding: rem(105px) 0;
    position: relative;
    color: #000;

    &__why {
        &::before {
            content: "";
            display: block;
            background: url("../img/patternsheet.png") center center no-repeat;
            width: rem(190px);
            min-height: rem(315px);
            position: absolute;
            left: 0;
            bottom: rem(140px);
        }
    
        &::after {
            content: "";
            display: block;
            background: url("../img/cake.png") bottom left no-repeat;
            width: rem(161px);
            min-height: rem(225px);
            position: absolute;
            left: 0;
            bottom: rem(-105px);
        }
    }

    &__reviews {
        &::before {
            content: "";
            display: block;
            background: url("../img/strawberry.png") center center no-repeat;
            width: rem(150px);
            min-height: rem(85px);
            position: absolute;
            top: rem(40px);
            right: rem(12px);
        }
    
        &::after {
            content: "";
            display: block;
            background: url("../img/berries2.png") 0 rem(54px) no-repeat, url("../img/patternsheet2.png") left top no-repeat;
            width: rem(140px);
            min-height: rem(285px);
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            transform: translateY(50%);
        }
    }

    &__orders {
        &::before {
            content: "";
            display: block;
            background: url("../img/sheet6.png") left top no-repeat;
            width: rem(138px);
            min-height: rem(190px);
            position: absolute;
            bottom: rem(85px);
            right: 0;
        }
    
        &::after {
            content: "";
            display: block;
            background: url("../img/blueberries2.png") left top no-repeat;
            width: rem(47px);
            min-height: rem(50px);
            position: absolute;
            left: rem(20px);
            bottom: rem(85px);
        }
    }

    &__title {
        font-size: rem(48px);
        font-weight: 700;
        margin-bottom: rem(60px);
        text-align: center;
        text-transform: uppercase;
        color: #000;
    }

    &__orders {
        background: url("../img/berriesBG.jpg") center top / cover;
    }

    &_font-color_green {
        color: $darkGreen;

        .section__title {
            color: inherit;
        }
    }
}

.headline {
    margin-bottom: rem(50px);
    text-align: center;

    &__title {
        margin-bottom: 7px;
    }

    &__subtitle {
        padding: 0 26%;
        margin: 0 auto;
        line-height: 1.3em;
    }
}