.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 650px;
    padding: 105px 0;
    position: relative;
    color: #000;

    &__why {
        &::before {
            content: "";
            display: block;
            background: url("../img/patternsheet.png") center center no-repeat;
            width: 190px;
            min-height: 315px;
            position: absolute;
            left: 0;
            bottom: 140px;
        }
    
        &::after {
            content: "";
            display: block;
            background: url("../img/cake.png") bottom left no-repeat;
            width: 161px;
            min-height: 225px;
            position: absolute;
            left: 0;
            bottom: -105px;
        }
    }

    &__reviews {
        &::before {
            content: "";
            display: block;
            background: url("../img/strawberry.png") center center no-repeat;
            width: 150px;
            min-height: 85px;
            position: absolute;
            top: 40px;
            right: 12px;
        }
    
        &::after {
            content: "";
            display: block;
            background: url("../img/berries2.png") 0 54px no-repeat, url("../img/patternsheet2.png") left top no-repeat;
            width: 140px;
            min-height: 285px;
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            transform: translateY(50%);
        }
    }

    &__orders {
        &::before {
            content: "";
            display: block;
            background: url("../img/sheet6.png") left top no-repeat;
            width: 138px;
            min-height: 190px;
            position: absolute;
            bottom: 85px;
            right: 0;
        }
    
        &::after {
            content: "";
            display: block;
            background: url("../img/blueberries2.png") left top no-repeat;
            width: 47px;
            min-height: 50px;
            position: absolute;
            left: 20px;
            bottom: 85px;
        }
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 60px;
        text-align: center;
        text-transform: uppercase;
        color: #000;
    }

    &__orders {
        background: url("../img/berriesBG.jpg") center top / cover;
    }

    &_font-color_green {
        color: $darkGreen;

        .section__title {
            color: inherit;
        }
    }
}

.headline {
    margin-bottom: 50px;
    text-align: center;

    &__title {
        margin-bottom: 7px;
    }

    &__subtitle {
        padding: 0 26%;
        margin: 0 auto;
        line-height: 1.3em;
    }
}