.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

    @include tablets {
        align-items: flex-start;
    }
}

.slider__list {
    max-width: 100%;
    display: flex;
    position: relative;
    left: 0;
}

.slider__control-img {
    width: rem(17px);
    height: rem(28px);
    fill: #151515;
}

.slider__control {
    position: absolute;
    z-index: $z-control;
    
    background: transparent;
    padding: 0;
    border: 0;

    &:focus {
        outline: none;
    }

    &_left {
        left: 0;
        transform: rotateY(180deg);

        @include tablets {
            left: rem(50px);
        }
    }

    &_right {
        right: 30px;

        @include tablets {
            right: rem(50px);
        }
    }

    &:hover {
        cursor: pointer;
    }

    @include tablets {
        top: 24vmin;
    }
}


.slide {
    display: flex;
}

.slider__item {
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    padding: rem(150px) 8%;

    @include tablets {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
}

.slide__photo {
    width: 45%;
    margin-right: 5vmax;
    position: relative;

    &::before {
        content: '';
        width: rem(75px);
        height: rem(92px);
        display: block;
        background: url('../img/sheet4.png') center center / cover no-repeat;
        position: absolute;
        top: rem(85px);
        left: rem(-60px);

        @include phones {
            top: 10%;
            background-size: 70%;
        }
    }

    &::after {
        content: '';
        width: rem(99px);
        height: rem(73px);
        display: block;
        background: url('../img/sheet5.png') center center / cover no-repeat;
        position: absolute;
        bottom: rem(-30px);
        right: rem(-23px);

        @include phones {
            background-size: 70%;
        }
    }
    
    @include tablets {
        margin: 0 0 rem(50px);
    }

    @include phones {
        width: 50%;
        height: 50%;
    }
}

.slide__right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    padding-top: rem(80px);

    @include tablets {
        padding-top: 0;
        text-align: center;
    }
}

.slide__struct {
    position: absolute;
    top: rem(-42px);
    left: 0;

    @include tablets {
        display: none;
    }
}

.slide__struct-btn {
    width: rem(90px);
    height: rem(90px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    user-select: none;
    transition: all .3s ease;
    
    &:hover {
        cursor: pointer;
        background-color: #60aacc;

        &~.slide__struct-content {
            left: rem(90px);
            opacity: 1;
        }
    }
}

.slide__struct-icon {
    width: 60%;
    height: 70%;
    fill: #fff;
}

.slide__struct-text {
    text-transform: uppercase;
    font-size: rem(14px);
    color: #fff;
}

.slide__struct-content {
    width: rem(270px);
    padding: rem(25px) rem(30px) rem(10px);
    position: absolute;
    left: -10000px;
    top: 0;
    border-radius: 5px;
    background-color: rgba(255,255,255,.95);
    opacity: 0;
    transition: opacity .3s ease;

    &:hover {
        left: rem(90px);
        opacity: 1;
    }
}

.chocco-struct__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(15px);
}

.chocco-struct__column {
    display: flex;
    align-items: center;
}

.chocco-struct__img {
    width: rem(35px);
    height: rem(35px);
    margin-right: rem(26px);
}

.chocco-struct__title {
    flex: 1;
    font-size: rem(16px);
}

.slide__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablets {
        align-items: center;
    }
}

.slide__title {
    font-size: rem(36px);
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    margin-bottom: rem(10px);
}

.slide__desc {
    padding-right: 5%;
    font-size: rem($base-font-size);
    color: #666;
    margin-bottom: rem(17px);

    @include tablets {
        padding: 0 12%;
    }
}

.slide__params {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tablets {
        margin-right: rem(-50px);
    }
}

.slide__params-item {
    margin: 0 rem(50px) rem(25px) 0;
}

.slide__params-title {
    font-size: rem($base-font-size);
    color: #666;
}

.slide__params-value {
    font-size: rem($base-font-size);
    font-weight: bold;
    color: #000;
}

.slide__order {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include tablets {
        margin:  0 auto;
    }
}

.slide__price {
    font-size: rem(60px);
    margin-right: rem(30px);
    color: #151515;
}

.slide__btn {
    border: 0;
    transition: all .3s ease;

    &:hover {
        cursor: pointer;
        background-color: #2e4e3f;
        color: #fff;
    }
}