.team__list {
    display: flex;
    justify-content: space-between;
    min-height: rem(435px);

    @include tablets {
        display: none;
    }

    &_mobile {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: auto;

        @include tablets {
            display: flex;
        }
    }
}


.team__item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4 - 20px);
    text-align: center;
    height: 100%;

    @include tablets {
        width: 44%;
        margin-bottom: 5px;
    }

    @include phones {
        width: 55%;
    }
}

.team__photo {
    width: 100%;
    height: rem(288px);
    overflow: hidden;
    margin-bottom: rem(20px);
    transition: height .5s;

    @include phones {
        width: rem(142px);
        height: rem(184px);
        margin: 0 auto rem(20px);
    }
}

.team__photo-img {
    object-fit: cover;
    object-position: center;
}

.team__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(10px);
    background-color: transparent;
    border: 0;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}

.team__triangle {
    padding: 0;
    display: inline-block;
    border: 7px solid transparent;
    border-bottom: 0;
    border-top: 7px solid $darkGreen;
    margin-left: 5px;
    background: transparent;
    transition: transform .3s;
}

.team__name {
    font-size: rem(21px);
    font-weight: bold;
    color: #000;
   
}

.team__content {
    height: 0;
    overflow: hidden;
    transition: height .5s;
}

.team__profession {
    margin-bottom: 5px;
}

.team__desc {
    font-size: rem(17px);
    font-weight: 300;
    color: #666;
}