.btn {
    display: inline-block;
    padding: 15px 35px;
    border-radius: 60px;
    background-color: #fff;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    color: #365a49;

    &:hover {
        color: #fff;
        background-color: #2e4e3f;
    }
}