.contacts {
    display: flex;
    align-items: center;
    font-style: normal;
    margin-right: 34px;

    &:hover {
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    &__icon {
        width: 12px;
        margin-right: 6px;
    }

    &__phone {
        font-size: 24px;
    }
}