.header {
    padding-top: 24px;
    margin-bottom: 99px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    color: #fff;

    &__logo {
        width: 53px;
        max-height: 40px;
    }    

    &__phone {
        font-size: 24px;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            display: block;
            width: 12px;
            max-height: 12px;
            margin-right: 6px;
            background: url("../img/icons/phone.svg") center center / cover no-repeat;
        }

        &:hover {
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }
    }
}