.pagenator {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;

    &__item {
        margin-bottom: 5px;
    }
    
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid transparent;

        &::after {
            content: '';
            display: block;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            background-color: #fff;
        }

        &_active {
            border: 1px solid #fff;
        }
    }
}