.sitetitle {
    width: 350px;
    color: #fff;

    &__title {
        line-height: 1.2em;
        margin-bottom: 7px;
    }

    &__subtitle {
        font-size: 21px;
        margin-bottom: 31px;
    }
}