$decor-width: 21px;
$icon-width: 125px;

.why {
    padding: 105px 0;
    position: relative;
    color: #000;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 284px;
        text-align: center;
    }

    &__icon {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $icon-width;
        height: $icon-width;
        border-radius: 50%;
        background-color: $gray;
        margin-bottom: 30px;

        &-img {
            width: 56%;
            max-height: 56%;
        }

        &_decor_is {
            position: relative;

            &::after {
                content: "";
                display: block;
                position: absolute;
                left: 150%;
                width: 67px;
                min-height: 21px;
                max-height: 25px;
                background: url("../img/ellipse.png") center center no-repeat;
            }
        }
    }  
    
    &__title {
        margin-bottom: 18px;
    }

    &::before {
        content: "";
        display: block;
        background: url("../img/patternsheet.png") center center no-repeat;
        width: 190px;
        min-height: 315px;
        max-height: 320px;
        position: absolute;
        left: 0;
        bottom: 140px;
    }

    &::after {
        content: "";
        display: block;
        background: url("../img/cake.png") left bottom no-repeat;
        width: 161px;
        min-height: 225px;
        max-height: 240px;
        position: absolute;
        left: 0;
        bottom: -100px;
    }
}
